[submodule "Segundo Cuatrimestre/ArtGallery"]
	path = Segundo Cuatrimestre/ArtGallery
	url = https://github.com/rivasmati/ArtGallery.git
[submodule "Primer cuatrimestre/TPFinalDesarrollo"]
	path = Primer cuatrimestre/TPFinalDesarrollo
	url = https://github.com/AdrianDBG/TPFinalDesarrollo.git
